/* 
  MikeyCell Styles 
  Michael Micheletti HTML5 Gameplay homework project
  Palette: http://www.colourlovers.com/palette/1764342/In_a_Casino_in_Spain
  Font: http://www.dafont.com/chocolate-box.font
*/

/* Chocolate Box regular */
@font-face {
    font-family: 'cboxregular';
    src: url('fonts/c_box-webfont.eot');
    src: url('fonts/c_box-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/c_box-webfont.woff') format('woff'),
         url('fonts/c_box-webfont.ttf') format('truetype'),
         url('fonts/c_box-webfont.svg#chocolateboxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;  
}

body {
  margin: 0; 
  height: 100%;
  background: rgb(8,17,28);
  /* 
  Hack to preload webfont for the splash screen canvas in stupid safari / chrome.
  Still erratic on the iPhone though. Grrr. TODO
  */
  font: 20px cboxregular, "Times New Roman", Times, Georgia, serif;
}

#patternBkgdCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

/* outer bounding div */
#game {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 3% auto;
  font: 20px cboxregular, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 1px 1px 0px #08111c;
  background: rgb(40,65,23);
  border: 2px solid rgba(140,59,29, 0.7);
  -webkit-border-radius: 19px;    
  border-radius: 19px;
  -webkit-box-shadow:  0px 0px 19px 19px rgba(140,59,29, 0.25);
  box-shadow:  0px 0px 19px 19px rgba(140,59,29, 0.25);
}

/* individual game screens, hidden by default */
#game .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none; 
}

/* show the active screen */
#game .screen.active {
  display: block; 
}

/* click anywhere on splash screen */
#splashScreen{ cursor: pointer; }

/* canvas splash screen logo, default size for large screens */
#splashLogoBox {
  height: 600px;
  width: 600px;
  margin: 20px auto;
  z-index: 99;
  font: 2em cboxdeco, "Times New Roman", Times, Georgia, serif;
}

/* canvas element logos drawn dynamically by logo.js */
.logoBox canvas {
  height: 100%;
  width: 100%;
  display: block;
  /* fallback canvas text style */
  font: 2em cboxdeco, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 2px 2px 0px #08111c;
  text-align: center;
}

/* pale wrapper around menu, settings, etc */
.contentWrapper {
  width: 18em;
  height: 23em;
  margin: 5% auto 5% auto;
  text-align: center;
  border: 2px solid rgba(140,59,29, 0.7);
  -webkit-border-radius: 29px;    
  border-radius: 29px;
  background: rgb(234,171,126); /* Old browsers */
  /* IE9 SVG' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWFhYjdlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  rgba(234,171,126,1) 0%, rgba(236,190,156,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(234,171,126,1)), color-stop(100%,rgba(236,190,156,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* W3C */
  -webkit-box-shadow:  9px 9px 9px 9px rgba(8, 17, 28, 0.25);
  box-shadow:  9px 9px 9px 9px rgba(8, 17, 28, 0.25);
}

/* general button appearance */
button {
  font: 1.05em cboxregular, "Times New Roman", Times, Georgia, serif;
  color: #8C3B1D;
  height: 2.5em;
  text-shadow: 1px 1px 0px rgba(8,17,28,0.9);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid rgba(140,59,29, 0.25);
  -webkit-border-radius: 9px;    
  border-radius: 9px;
  background: rgb(236,190,156); /* Old browsers */
  /* IE9 SVG */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTVkMzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(236,190,156,1) 0%, rgba(201,93,55,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,190,156,1)), color-stop(100%,rgba(201,93,55,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* W3C */
}

/* buttons when pressed */
button:active {
  background: rgb(201,93,55); /* Old browsers */
  /* IE9 SVG */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5NWQzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2JlOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(201,93,55,1) 0%, rgba(236,190,156,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,93,55,1)), color-stop(100%,rgba(236,190,156,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* W3C */
}

/* menu screen */
menu {
  position: relative;
  top: -120px;
  left: -2.25em; 
}

/* splash logo in the menu, settings & about screens */
#menuLogoBox,
#settingsLogoBox,
#aboutLogoBox {
  height: 300px;
  width: 300px;
  margin: 10px auto;
}

li { 
  list-style: none; 
  margin: 0;
}
#menuScreen button {
  width: 13em;
  margin: 0.5em;  
}

/* settings screen */
#settingsText {
  margin: 3em auto;  
  position: relative;
  top: -120px;  
}
#settingsScreen button {
  width: 5em;  
  position: relative;
  top: -120px;
}

/* about screen */
#aboutScreen p, 
#aboutScreen cite {
  font-size: 0.85em;
  line-height: 1.25em;
  text-shadow: none;
}
#aboutText { 
  margin: 0 1em; 
  position: relative;
  top: -120px;
}
#aboutScreen button {
  width: 5em;  
  position: relative;
  top: -120px;
}

/* game screen logo acts as a button to return to the menu */
/* splash logo in the menu */
#gameLogoBox {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -50px;
  right: 0px;
  cursor: pointer;
  display: block;
}

#gameScreenTODO {
   margin: 5em auto;
  text-align: center; 
}

/* mobile views, the curved logo is painful to scale */

@media (max-width: 700px) {
  #game {
    width: 95%;
    height: 95%;
    margin: 1% auto;
    font-size: 18px;
  }
  
  /* splash screen logo */
  #splashLogoBox { width: 550px; height: 550px; }
  
  /* menu, settings and about screen logos and control adjustments */
  #menuLogoBox,
  #settingsLogoBox,
  #aboutLogoBox { width: 200px; height: 200px; }
  #aboutText,
  #aboutScreen button,
  #settingsText,
  #settingsScreen button,
  menu { top: -60px; }
  
  #menuScreen button { margin-left: 0; } 
}

@media (max-width: 600px) {
  #game { font-size: 16px; }
  
  /* splash screen */
  #splashLogoBox { width: 500px; height: 500px; }
  
  /* menu, settings and about screen logos and control adjustments */
  #menuLogoBox,
  #settingsLogoBox,
  #aboutLogoBox { width: 180px; height: 180px; }
  #aboutText,
  #aboutScreen button,
  #settingsText,
  #settingsScreen button,
  menu { top: -50px; }
  
  #menuScreen button { margin-left: -0.5em; } 
}

@media (max-width: 500px) {
  #game {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    font-size: 14px;
    text-shadow: none;
    -webkit-border-radius: 0;    
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* splash screen */
  #splashLogoBox { width: 425px; height: 425px; }
  
  /* menu, settings and about screen logos and control adjustments */
  #menuLogoBox,
  #settingsLogoBox,
  #aboutLogoBox { width: 170px; height: 170px; }
  #aboutText,
  #aboutScreen button,
  #settingsText,
  #settingsScreen button,
  menu { top: -50px; }
  
  #menuScreen button { margin-left: -1em; } 
}

@media (max-width: 450px) {
  /* splash screen */
  #splashLogoBox { width: 375px; height: 375px; }  
}

@media (max-width: 320px) {
  /* splash screen */
  #splashLogoBox { width: 300px; height: 300px; }  
}
