/* 
  MikeyCell Styles 
  Michael Micheletti HTML5 Gameplay homework project
  Palette: http://www.colourlovers.com/palette/1764342/In_a_Casino_in_Spain
  Font: http://www.dafont.com/chocolate-box.font
*/

html {
  height: 100%;  
}

body {
  margin: 0; 
  height: 100%;
  background: rgb(8,17,28);
}

/* Chocolate Box outline */
@font-face {
    font-family: 'cboxdeco';
    src: url('fonts/c_box_d-webfont.eot');
    src: url('fonts/c_box_d-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/c_box_d-webfont.woff') format('woff'),
         url('fonts/c_box_d-webfont.ttf') format('truetype'),
         url('fonts/c_box_d-webfont.svg#chocolateboxdecorativeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chocolate Box regular */
@font-face {
    font-family: 'cboxregular';
    src: url('fonts/c_box-webfont.eot');
    src: url('fonts/c_box-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/c_box-webfont.woff') format('woff'),
         url('fonts/c_box-webfont.ttf') format('truetype'),
         url('fonts/c_box-webfont.svg#chocolateboxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* outer bounding div */
#game {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 3% auto;
  font: 20px cboxregular, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 1px 1px 0px #08111c;
  background: rgb(40,65,23);
  border: 2px solid rgba(140,59,29, 0.7);
  -webkit-border-radius: 19px;    
  border-radius: 19px;
  -webkit-box-shadow:  0px 0px 19px 19px rgba(140,59,29, 0.25);
  box-shadow:  0px 0px 19px 19px rgba(140,59,29, 0.25);
}

/* individual game screens, hidden by default */
#game .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none; 
}

/* show the active screen */
#game .screen.active {
  display: block; 
}

/* click anywhere on splash screen */
#splashScreen{ cursor: pointer; }

/* banner styling */
.splashBanner {
  font: 4.5em cboxdeco, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 2px 2px 0px #08111c;
  text-align: center;
  margin: .5em auto;
  display: block;  
  position: relative; 
  width:588px;
}

/* arc banner setup (circle path) props to http://csswarp.eleqtriq.com/ */
.splashBanner>span[class^=w]:nth-of-type(n+0){
    display:block; 
    position:absolute;
    -moz-transform-origin:50% 100%; 
    -webkit-transform-origin:50% 100%; 
    -o-transform-origin:50% 100%; 
    -ms-transform-origin:50% 100%; 
    transform-origin:50% 100%; }

.splashBanner span{
  line-height: 0.65; 
  white-space: pre; 
}

.splashBanner .w0 { /* M */
  -moz-transform: rotate(-0.82rad);
  -webkit-transform: rotate(-0.82rad);
  -o-transform: rotate(-0.82rad);
  -ms-transform: rotate(-0.82rad); 
  transform: rotate(-0.82rad);
  width: 106px; 
  height: 59px; 
  left: 70.03px; 
  top: 124.87px;
}

.splashBanner .w1 { /* i */
  -moz-transform: rotate(-0.56rad);
  -webkit-transform: rotate(-0.56rad);
  -o-transform: rotate(-0.56rad);
  -ms-transform: rotate(-0.56rad);
  transform: rotate(-0.56rad);
  width: 19px; 
  height: 59px; 
  left: 161.02px; 
  top: 86.07px;
}

.splashBanner .w2 { /* k */
  -moz-transform: rotate(-0.39rad);
  -webkit-transform: rotate(-0.39rad);
  -o-transform: rotate(-0.39rad);
  -ms-transform: rotate(-0.39rad); 
  transform: rotate(-0.39rad);
  width: 58px; 
  height: 59px; 
  left: 174.92px; 
  top: 69.12px;
}

.splashBanner .w3 { /* e */
  -moz-transform: rotate(-0.17rad);
  -webkit-transform: rotate(-0.17rad);
  -o-transform: rotate(-0.17rad);
  -ms-transform: rotate(-0.17rad); 
  transform: rotate(-0.17rad);
  width: 46px; 
  height: 59px; 
  left: 229.87px; 
  top: 55.18px;
}

.splashBanner .w4 { /* y */
  -moz-transform: rotate(0.05rad);
  -webkit-transform: rotate(0.05rad);
  -o-transform: rotate(0.05rad);
  -ms-transform: rotate(0.05rad); 
  transform: rotate(0.05rad);
  width: 57px; 
  height: 59px; 
  left: 274.68px; 
  top: 52.32px;
}

.splashBanner .w5 { /* C */
  -moz-transform: rotate(0.32rad);
  -webkit-transform: rotate(0.32rad);
  -o-transform: rotate(0.32rad);
  -ms-transform: rotate(0.32rad); 
  transform: rotate(0.32rad);
  width: 72px; 
  height: 59px; 
  left: 329.33px; 
  top: 64.34px;
}

.splashBanner .w6 { /* e */
  -moz-transform: rotate(0.58rad);
  -webkit-transform: rotate(0.58rad);
  -o-transform: rotate(0.58rad);
  -ms-transform: rotate(0.58rad); 
  transform: rotate(0.58rad);
  width: 46px; 
  height: 59px; 
  left: 394.29px; 
  top: 89.77px;
}

.splashBanner .w7 { /* l */
  -moz-transform: rotate(0.77rad);
  -webkit-transform: rotate(0.77rad);
  -o-transform: rotate(0.77rad);
  -ms-transform: rotate(0.77rad); 
  transform: rotate(0.77rad);
  width: 43px; 
  height: 59px; 
  left: 429.67px; 
  top: 116.94px;
 }

.splashBanner .w8 { /* l */
  -moz-transform: rotate(0.95rad);
  -webkit-transform: rotate(0.95rad);
  -o-transform: rotate(0.95rad);
  -ms-transform: rotate(0.95rad); 
  transform: rotate(0.95rad);
  width: 43px; 
  height: 59px; 
  left: 456.98px; 
  top: 148.77px;
}

/* Let's have some fun */
#splashInvite {
  font: 2em cboxregular, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 1px 1px 0px #08111c;
  text-align: center;
  margin: .5em auto;
  position: relative;
  top: 2.5em;
}
#splashInvite:hover {
  text-shadow: 1px 1px 0px #08111c, 0px 0px 19px #C95D37; 
}

/* spade char, large for splash */
.splashSpade {
  font-size: 10em; 
  position: relative;
  top: 0.55em;
  text-align: center; 
}
/* spade char, smaller for other screens in pale boxes */
#menuScreen .splashSpade,
#settingsScreen .splashSpade,
#aboutScreen .splashSpade {
  font-size: 7em; 
  position: relative;
  top: 0.25em;
  text-align: center; 
}

/* pale wrapper around menu, settings, etc */
.contentWrapper {
  width: 18em;
  height: 23em;
  margin: 5% auto 5% auto;
  text-align: center;
  border: 2px solid rgba(140,59,29, 0.7);
  -webkit-border-radius: 29px;    
  border-radius: 29px;
  background: rgb(234,171,126); /* Old browsers */
  /* IE9 SVG' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWFhYjdlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  rgba(234,171,126,1) 0%, rgba(236,190,156,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(234,171,126,1)), color-stop(100%,rgba(236,190,156,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* W3C */
  -webkit-box-shadow:  9px 9px 9px 9px rgba(8, 17, 28, 0.25);
  box-shadow:  9px 9px 9px 9px rgba(8, 17, 28, 0.25);
}

/* banner in menu, etc. */ 
h1.splashBanner { 
  position: relative;
  left: -32%;
  text-align: center;
  margin: 0 auto;
  font-family: cboxregular, "Times New Roman", Times, Georgia, serif;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

/* general button appearance */
button {
  font: 1.05em cboxregular, "Times New Roman", Times, Georgia, serif;
  color: #8C3B1D;
  height: 2.5em;
  text-shadow: 1px 1px 0px rgba(8,17,28,0.9);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid rgba(140,59,29, 0.25);
  -webkit-border-radius: 9px;    
  border-radius: 9px;
  background: rgb(236,190,156); /* Old browsers */
  /* IE9 SVG */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTVkMzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(236,190,156,1) 0%, rgba(201,93,55,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,190,156,1)), color-stop(100%,rgba(201,93,55,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* W3C */
}

/* buttons when pressed */
button:active {
  background: rgb(201,93,55); /* Old browsers */
  /* IE9 SVG */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5NWQzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2JlOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(201,93,55,1) 0%, rgba(236,190,156,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,93,55,1)), color-stop(100%,rgba(236,190,156,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* W3C */
}

/* menu screen */
menu {
  position: relative;
  top: 0.5em;
  left: -2.25em; 
}
li { 
  list-style: none; 
  margin: 0;
}
#menuScreen button {
  width: 13em;
  margin: 0.5em;  
}

/* settings screen */
#settingsText {
  margin: 3em auto;  
}
#settingsScreen button {
  width: 5em;  
}

/* about screen */
#aboutScreen p, 
#aboutScreen cite {
  font-size: 0.85em;
  line-height: 1.25em;
  text-shadow: none;
}
#aboutText { margin: 1em; }
#aboutScreen button {
  width: 5em;  
}

/* game screen logo acts as a button to return to the menu */
#gameLogo {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 45px;
  right: 45px;
  cursor: pointer;
  display: block; 
}
#gameLogo .splashBanner { 
  position: relative;
  font-family: cboxregular, "Times New Roman", Times, Georgia, serif;
  left: -45px;
  text-align: left;
  margin: 0;
  width: 40px;
  text-shadow: 1px 1px 0px #08111c;
  -moz-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
}
#gameLogo .splashSpade {
  font-size: 1.5em; 
  margin: 0.25em 0 0 0.5em; 
  text-shadow: 1px 1px 0px rgba(8,17,28,0.25);
}
#gameMenuText {
  font-size: 0.75em;
  margin: 1em 0 0 0.25em;
  text-shadow: 1px 1px 0px rgba(8,17,28,0.25);
}
#gameScreenTODO {
   margin: 5em auto;
  text-align: center; 
}

/* mobile views, the curved logo is painful to scale */

@media (max-width: 700px) {
  #game {
    width: 95%;
    height: 95%;
    margin: 1% auto;
    font-size: 18px;
  }
  
  /* splash screen */
  #splashScreen .splashBanner,
  #splashScreen .splashSpade,
  #splashInvite {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  #splashScreen .splashBanner { 
    width: 441px; 
    left: -0.5em;
  }
  #splashScreen .splashSpade { top: 0.2em; }
  #splashInvite { top: -0.5em; }
  
  /* splash in menu, etc */
  h1.splashBanner { 
    left: -40%;
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  } 
  
  #menuScreen button { margin-left: 0; } 
}

@media (max-width: 600px) {
  #game { font-size: 16px; }
  
  /* splash screen */
  #splashScreen .splashBanner,
  #splashScreen .splashSpade,
  #splashInvite {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  #splashScreen .splashBanner { 
    width: 279px; 
    left: -0.9em;
  }
  #splashScreen .splashSpade { top: 0.2em; }
  #splashInvite { top: -0.5em; }
  
  /* splash in menu, etc */
  h1.splashBanner { 
    left: -52%;
    -moz-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  #menuScreen button { margin-left: -0.5em; } 
}

@media (max-width: 500px) {
  #game {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    font-size: 14px;
    text-shadow: none;
    -webkit-border-radius: 0;    
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* splash screen */
  #splashScreen .splashBanner,
  #splashScreen .splashSpade {
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }
  #splashScreen .splashBanner { 
    width: 223px; 
    left: -1.15em;
  }
  #splashScreen .splashSpade { top: 0.05em; }
  #splashInvite { top: -2.25em; }
  
  /* splash in menu, etc */
  h1.splashBanner { left: -65%; }
  
  #menuScreen button { margin-left: -1em; } 
}

