/* 
  MikeyCell Styles 
  Michael Micheletti HTML5 Gameplay homework project
  Palette: http://www.colourlovers.com/palette/1764342/In_a_Casino_in_Spain
  Font: http://www.dafont.com/chocolate-box.font
*/

/* Chocolate Box regular */
@font-face {
    font-family: 'cboxregular';
    src: url('fonts/c_box-webfont.eot');
    src: url('fonts/c_box-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/c_box-webfont.woff') format('woff'),
         url('fonts/c_box-webfont.ttf') format('truetype'),
         url('fonts/c_box-webfont.svg#chocolateboxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;  
}

body {
  margin: 0; 
  height: 100%;
  background: rgb(8,17,28);
  /* 
  Hack to preload webfont for the splash screen canvas in stupid safari / chrome.
  Still erratic on the iPhone though. Grrr. TODO
  */
  font: 20px cboxregular, "Times New Roman", Times, Georgia, serif;
}

#patternBkgdCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; 
}

/* outer bounding div */
#game {
  position: relative;
  width: 1014px;
  height: 700px;
  margin: 3% auto;
  font: 20px cboxregular, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 1px 1px 0px #08111c;
  background: rgb(40,65,23);
  border: 2px solid rgba(140,59,29, 0.7);
  -webkit-border-radius: 19px;    
  border-radius: 19px;
  -webkit-box-shadow:  0px 0px 19px 19px rgba(140,59,29, 0.25);
  box-shadow:  0px 0px 19px 19px rgba(140,59,29, 0.25);
}

/* individual game screens, hidden by default */
#game .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none; 
}

/* show the active screen */
#game .screen.active {
  display: block; 
}

/* canvas splash screen logo, default size for large screens */
#splashLogoBox {
  height: 600px;
  width: 600px;
  margin: 20px auto;
  z-index: 99;
  font: 2em cboxdeco, "Times New Roman", Times, Georgia, serif;
}

/* canvas element logos drawn dynamically by logo.js */
.logoBox canvas {
  height: 100%;
  width: 100%;
  display: block;
  /* fallback canvas text style */
  font: 2em cboxdeco, "Times New Roman", Times, Georgia, serif;
  color: rgb(140,59,29);
  text-shadow: 2px 2px 0px #08111c;
  text-align: center;
}

/* pale wrapper around menu, settings, etc */
.contentWrapper {
  width: 18em;
  height: 23em;
  margin: 5% auto 5% auto;
  text-align: center;
  border: 2px solid rgba(140,59,29, 0.7);
  -webkit-border-radius: 29px;    
  border-radius: 29px;
  background: rgb(234,171,126); /* Old browsers */
  /* IE9 SVG' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWFhYjdlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  rgba(234,171,126,1) 0%, rgba(236,190,156,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(234,171,126,1)), color-stop(100%,rgba(236,190,156,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(234,171,126,1) 0%,rgba(236,190,156,1) 100%); /* W3C */
  -webkit-box-shadow:  9px 9px 9px 9px rgba(8, 17, 28, 0.25);
  box-shadow:  9px 9px 9px 9px rgba(8, 17, 28, 0.25);
}

/* general button appearance */
button {
  font: 1.05em cboxregular, "Times New Roman", Times, Georgia, serif;
  color: #8C3B1D;
  height: 2.5em;
  text-shadow: 1px 1px 0px rgba(8,17,28,0.9);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid rgba(140,59,29, 0.25);
  -webkit-border-radius: 9px;    
  border-radius: 9px;
  background: rgb(236,190,156); /* Old browsers */
  /* IE9 SVG */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjYmU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTVkMzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(236,190,156,1) 0%, rgba(201,93,55,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,190,156,1)), color-stop(100%,rgba(201,93,55,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(236,190,156,1) 0%,rgba(201,93,55,1) 100%); /* W3C */
}

/* buttons when pressed */
button:active {
  background: rgb(201,93,55); /* Old browsers */
  /* IE9 SVG */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5NWQzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2JlOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(201,93,55,1) 0%, rgba(236,190,156,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,93,55,1)), color-stop(100%,rgba(236,190,156,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,93,55,1) 0%,rgba(236,190,156,1) 100%); /* W3C */
}

/* menu screen */
#menuScreen menu {
  position: relative;
  top: -120px;
  left: -2.25em; 
}

/* splash logo in the menu, settings & about screens */
#menuLogoBox,
#settingsLogoBox,
#aboutLogoBox {
  height: 300px;
  width: 300px;
  margin: 10px auto;
}

li { 
  list-style: none; 
  margin: 0;
}
#menuScreen button {
  width: 13em;
  margin: 0.5em;  
}

/* settings screen */
#settingsText {
  margin: 3em auto;  
  position: relative;
  top: -120px;  
}
#settingsScreen form div {
  text-align: left;
  margin: 0.5em 2em; 
}
#settingsScreen input[type=checkbox] {
  margin-right: 0.5em;
}
.mobileSafari #playSoundsTxt {
  color: #999; 
  text-shadow: none;
}
#clicktoadd {
  display: none;
}
.mobileSafari #clicktoadd {
  display: block; 
}
#settingsScreen button {
  width: 5em;  
  position: relative;
  top: -120px;
}
.mobileSafari #settingsScreen button {
  top: -170px; 
}

/* about screen */
#aboutScreen p, 
#aboutScreen cite {
  font-size: 0.85em;
  line-height: 1.25em;
  text-shadow: none;
  margin: 0.75em 0.5em;
}
#aboutScreen a { 
  cursor: pointer; 
  color: rgb(140,59,29);
  text-decoration: underline;
}

#aboutText { 
  margin: 1em; 
  position: relative;
  top: -120px;
}
#aboutScreen button {
  width: 5em;  
  position: relative;
  top: -120px;
}

/* game screen links */
#gameScreenMenu {
  height: 20px;
  position: absolute;
  top: -14px;
  right: 0px;
  display: block;
  z-index: 20;
}
/* game screen menu links */
#gameScreenMenu a { 
  display: inline-block;
  cursor: pointer; 
  margin: 0 30px 0 35px;
  font-size: 18px;
  color: #C95D37;
}
#gameScreenMenu a:hover,
#gameScreenMenu a:active { border-bottom: 1px solid #C95D37; }

/* Game play canvas lives here, default to large view */
#gameViewBox, #gameCanvas {
  width: 1014px; /* 1014px default large width */
  height: 700px; /* 700px default large height */
  margin-top: 0;
  cursor: pointer;
}

/* 95% mobile view, (reducing game screen in 5% increments from default 1014 x 700 size) */
@media (max-width: 1050px) {
  body { font-size: 19px; }
  #game, #gameViewBox, #gameCanvas {
    width: 963.3px;
    height: 665px;  
  }
  .contentWrapper {
    width: 17.5em;
    height: 22.5em; 
  }
  #splashLogoBox {
    width: 570px;
    height: 570px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 285px;
    height: 285px; 
  }
  #menuScreen menu {
    top: -115px;
    left: -2.5em; 
  } 
  #gameScreenMenu a { 
    font-size: 17px; 
    margin: 0 30px 0 25px;  
  }
}

/* 90% */
@media (max-width: 1000px) {
  body { font-size: 18px; }
  #game, #gameViewBox, #gameCanvas {
    width: 912.6px;
    height: 630px;  
  }
  .contentWrapper {
    width: 17em;
    height: 22em; 
  }
  #splashLogoBox {
    width: 540px;
    height: 540px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 270px;
    height: 270px; 
  }  
  #menuScreen menu {
    top: -110px;
    left: -2.5em; 
  } 
  #menuScreen button {
    width: 12em;
    margin: 0.5em;  
  }
  #gameScreenMenu a { 
    font-size: 16.5px; 
     margin: 0 27px 0 25px;  
 }
}

/* 85% */
@media (max-width: 950px) {
  body { font-size: 17px; }
  button { font-size: 1em; }
  #game, #gameViewBox, #gameCanvas {
    width: 861.9px;
    height: 595px; 
  }
  .contentWrapper {
    width: 16.5em;
    height: 21em; 
    margin: 4% auto;
  }
  #splashLogoBox {
    width: 510px;
    height: 510px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 255px;
    height: 255px; 
  } 
  #gameScreenMenu { top: -15px; } 
  #gameScreenMenu a { 
    font-size: 16.5px; 
     margin: 0 25px 0 20px;  
 }
  #aboutScreen p, #aboutScreen cite { 
    line-height: 1.25em; 
  }
  #aboutText { 
    margin: 0.75em; 
    top: -105px;
  }
  #aboutScreen button {
    height: 2.25em;
    top: -105px;
  }
}

/* 80% */
@media (max-width: 900px) {
  body { font-size: 16.5px; }
  #game, #gameViewBox, #gameCanvas {
    width: 811.2px;
    height: 560px; 
  }
  .contentWrapper {
    width: 16em;
    height: 20em; 
    margin: 3.5% auto;
  }
  #splashLogoBox {
    width: 480px;
    height: 480px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 225px;
    height: 225px; 
  }  
  #menuScreen menu {
    top: -95px;
    left: -2.5em; 
  } 
  #menuScreen button {
    width: 11.5em;
    height: 2.25em;
    margin: 0.5em;  
  }
  #gameScreenMenu { top: -17px; } 
  #gameScreenMenu a { 
    font-size: 16px; 
     margin: 0 25px 0 15px;  
 }
  #aboutScreen p, #aboutScreen cite { 
    line-height: 1.15em; 
  }
  #aboutText { 
    margin: 0.5em; 
    top: -85px;
  }
  #aboutScreen button {
    top: -85px;
  }
}

/* 75% */
@media (max-width: 850px) {
  body { font-size: 16px; }
  #game, #gameViewBox, #gameCanvas {
    width: 760.5px;
    height: 525px; 
  }
  #game { margin: 2% auto; }
  .contentWrapper {
    margin: 2.5% auto;
  }
  #splashLogoBox {
    width: 450px;
    height: 450px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 200px;
    height: 200px; 
  }  
  #menuScreen menu {
    top: -80px;
    left: -2.5em; 
  } 
  #menuScreen button {
    width: 11.5em;
    height: 2.25em;
    margin: 0.5em;  
  }
  #gameScreenMenu { top: -19px; } 
  #gameScreenMenu a { 
    font-size: 15px; 
     margin: 0 25px 0 15px;  
 }
  #aboutScreen p, #aboutScreen cite { 
    line-height: 1.15em; 
  }
  #aboutText { 
    margin: 0.5em; 
    top: -75px;
  }
  #aboutScreen button {
    top: -75px;
  }
}

/* 70% */
@media (max-width: 800px) {
  body { font-size: 15.5px; }
  #game, #gameViewBox, #gameCanvas {
    width: 709px;
    height: 490px; 
  }
  #game { margin: 1% auto; }
  #gameViewBox { margin-top: 5px; }
  .contentWrapper {
    width: 16em;
    height: 19em; 
    margin: 3.5% auto;
  }
  #splashLogoBox {
    width: 420px;
    height: 420px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 190px;
    height: 190px; 
  }  
  #menuScreen menu {
    top: -80px;
    left: -2.5em; 
  } 
  #menuScreen button {
    width: 11.5em;
    height: 2.25em;
    margin: 0.5em;  
  }
  #gameScreenMenu { top: -19px; } 
  #gameScreenMenu a { 
    font-size: 14px; 
     margin: 0 20px 0 15px;  
 }
  #aboutScreen p, #aboutScreen cite { 
    line-height: 1.15em; 
  }
}

/* 70% card size still, but lose the black patterned background, border, box shadow */
@media (max-width: 750px) {
  body { 
    font-size: 15.5px; 
    background-color: rgb(40,65,23);
  }
  #patternBkgdCanvas { display: none; }
  #gameViewBox { margin-top: 1px; }
  #gameViewBox, #gameCanvas {
    width: 709px;
    height: 490px; 
  }
  #game { 
    margin: 15px auto 0 auto;
    height: 100%;
    width: 100%;
    border: 0; 
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #gameScreenMenu { top: -30px; } 
  #settingsText {
    margin: 3em auto;  
    position: relative;
    top: -90px;
    font-size: 0.9em;
  }
  #settingsScreen button {
    height: 2em;
  }
  .mobileSafari #settingsScreen button {
    top: -120px; 
  }
  #settingsScreen form div {
    margin: 0.5em 0.5em 0.5em 1em;
    text-wrap: nowrap; 
  }
  #aboutScreen p, #aboutScreen cite {
    margin: 0.35em 0.5em; 
  }
}

/* 65% */
@media (max-width: 700px) {
  body { font-size: 15px; }
  #gameViewBox, #gameCanvas {
    width: 659.1px;
    height: 455px; 
  }
  .contentWrapper {
    width: 13em;
    height: 15em; 
    margin: 1.5% auto;
  }
  #splashLogoBox {
    width: 390px;
    height: 390px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 150px;
    height: 150px; 
  }  
  #menuScreen menu {
    top: -50px;
    left: -2.5em; 
  } 
  #menuScreen button {
    font-size: .80em;
    width: 11.5em;
    height: 2em;
  }
  #gameScreenMenu a { 
    font-size: 13.5px; 
  }
  #aboutText {
    top: -50px;
  }
  #aboutScreen p, #aboutScreen cite {
    font-size: 13px;
  }
  #aboutScreen button {
    font-size: .80em; 
    height: 2em; 
    top: -45px;
  }
  .mobileSafari #settingsScreen button {
    top: -135px; 
  }
}

/* 60% */
@media (max-width: 650px) {
  #gameViewBox, #gameCanvas {
    width: 608.4px;
    height: 420px; 
  }
  #splashLogoBox {
    width: 360px;
    height: 360px; 
  }
  #gameScreenMenu a { 
    margin: 0 15px; 
 }
}

/* 55% */
@media (max-width: 600px) {
  #gameViewBox, #gameCanvas {
    width: 557.7px;
    height: 385px; 
  }
  #splashLogoBox {
    width: 330px;
    height: 330px; 
  }
}

/* 50% */
@media (max-width: 550px) {
  #gameViewBox, #gameCanvas {
    width: 507px;
    height: 350px; 
  }
  #splashLogoBox {
    width: 300px;
    height: 300px; 
  }
  #menuLogoBox, #settingsLogoBox, #aboutLogoBox {
    width: 130px;
    height: 130px;
    margin: 5px auto 0 auto; 
  }  
  #menuScreen menu {
    top: -60px;
    left: -2.5em; 
  } 
}

/* 45% */
@media (max-width: 500px) {
  #gameViewBox, #gameCanvas {
    width: 456.3px;
    height: 315px; 
  }
  #splashLogoBox {
    margin: 0 auto;
    width: 270px;
    height: 270px; 
  }
}

/* 40% - iPhone 4 landscape */
@media (max-width: 450px) {
  #gameViewBox, #gameCanvas {
    width: 405.6px;
    height: 280px; 
  }
  #splashLogoBox {
    width: 200px;
    height: 200px; 
  }
  .contentWrapper {
    width: 12em;
    height: 11em; 
    margin: 5px auto;
  }
  .mobileSafari .contentWrapper {
    height: 13em; 
  }
  #menuScreen menu {
    left: -3em;
  }
  #menuScreen button {
    font-size: .6em;
    width: 11.5em;
    height: 1.75em;
    margin-top: 0.5em;
  }
}

/* 35% */
@media (max-width: 400px) {
  #gameViewBox, #gameCanvas {
    width: 354.9px;
    height: 245px; 
  }
}

/* 31% - iPhone 4 portrait */
@media (max-width: 350px) {
  #gameViewBox, #gameCanvas {
    width: 314.34px;
    height: 217px; 
  }
  .mobileSafari .contentWrapper {
    height: 15em; 
  }
  #menuScreen button {
    font-size: .80em;
    width: 11.5em;
    height: 2em;
  }
}

